* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --primary-color: #ad6a6c; /* button color */
  --secondary-color: #f2e1e0; /* container color */
  --background-color: #d0ada7;
  --text-color: #3c3131;
  --hover-color: #8c4b4d;
  --border-color: #ad6a6c;
}

.dark-mode {
  --primary-color: #003d9954;
  --secondary-color: #02214f9f;
  --background-color: #000e24;
  --text-color: #e5f0ff;
  --hover-color: #000e24;
  --border-color: #003d9954;
}
body {
  background: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}
.container {
  position: relative;
  background: var(--secondary-color);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.container button:hover {
  background-color: var(--hover-color);
}
h1 {
  margin-bottom: 30px;
  color: var(--text-color);
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
}

#counter {
  font-size: 30px;
  color: var(--text-color);
  height: 100px;
  line-height: 100px;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  width: 200px;
  margin: 10px auto;
}

button:active {
  transform: scale(0.98);
}

.mode {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--text-color);
}
